[submodule "cpp/submodules/parquet-testing"]
	path = cpp/submodules/parquet-testing
	url = https://hub.fastgit.org/apache/parquet-testing.git
[submodule "testing"]
	path = testing
	url = https://hub.fastgit.org/apache/arrow-testing
